@media screen and (min-width: 768px) {

#menu {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

main { 
    max-width: 1200px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .3fr 1fr 1fr 1fr ;
    align-content: center;
    justify-items: center;
}
main h1{
    grid-column: 1/4;
}
}